<div class="editing-dialog-thumbnail">
  <div class="visualization">
    <span class="icon editing-icon-slider"></span>
  </div>
  <div class="title">
    Slider Panel
  </div>
  <div class="description">
    Adds a panel to the Slick slider.
  </div>
</div>
